[paths]
source =
   src/ngosolaris
   */site-packages/ngosolaris

[run]
branch = true
source =
    ngosolaris
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
